#fullscreen {
  border: 1px white solid;
  position: absolute;
  display: block;
  top: 2px;
  right: 2px;
  width: 50px;
  height: 50px;
  background: url('../img/fullscreen.png') no-repeat center center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.4);
}

.catana-screen {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
}

.catana-screen-canvas {
  box-shadow: 0px 0px 20px white;
  background-color: white;
  margin: 0;
  padding: 0;
}

.catana-screen-canvas p {
  margin: 0;
  padding: 0;
}
